In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn')

In [36]:
df = pd.read_csv(r"C:\Users\Suwani Gunasekara\OneDrive\Documents\Sem 7 ML\winequality-white_onezero.csv")

In [37]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,0

In [38]:
df.shape

(4898, 12)

In [39]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,0.216415
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.411842
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,0.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,0.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,0.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,0.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,1.000000

In [40]:
#Xdata = df.iloc[:,0:-1]
#ydata = df.iloc[:,-1]

In [41]:
#Xdata.shape

In [42]:
#type(Xdata)

In [43]:
# this is the z score as well
#data= (Xdata - Xdata.mean()) / Xdata.std()
#data.describe()

### Logistic regression implementation

In [44]:
# why do we need the range to be between 0 and 1? --> Because it is a probability (?) CHECK!!!!
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [45]:
# This is the error function. We need to minimize this
def cost(theta, X, y):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    first = np.multiply(-y, np.log(sigmoid(X * theta.T)))
    second = np.multiply((1 - y), np.log(1 - sigmoid(X * theta.T)))
    return np.sum(first - second) / (len(X))

In [56]:
# set X (training data) and y (target variable)
cols = df.shape[1]
X = df.iloc[:,0:cols-1]
y = df.iloc[:,cols-1:cols]

In [59]:
y

      quality_
0            0
1            0
2            0
3            0
4            0
...        ...
4893         0
4894         0
4895         0
4896         1
4897         0

[4898 rows x 1 columns]

In [46]:
# add a ones column - this makes the matrix multiplication work out easier
df.insert(0, 'Ones', 1)

# set X (training data) and y (target variable)
cols = df.shape[1]
X = df.iloc[:,0:cols-1]
y = df.iloc[:,cols-1:cols]

# convert to numpy arrays and initalize the parameter array theta
X = np.array(X.values)
y = np.array(y.values)
theta = np.zeros(12)

In [55]:
type(y)

numpy.ndarray

In [47]:
def gradient(theta, X, y):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    
    parameters = int(theta.ravel().shape[1])
    grad = np.zeros(parameters)
    
    error = sigmoid(X * theta.T) - y
    
    for i in range(parameters):
        term = np.multiply(error, X[:,i])
        grad[i] = np.sum(term) / len(X)
    
    return grad

In [48]:
gradient(theta, X, y)

array([2.83585137e-01, 1.97197325e+00, 8.16950796e-02, 9.65322581e-02,
       2.05703859e+00, 1.46277052e-02, 1.01768069e+01, 4.20753879e+01,
       2.82240985e-01, 8.98330951e-01, 1.36685382e-01, 2.78653668e+00])

In [49]:
import scipy.optimize as opt
result = opt.fmin_tnc(func=cost, x0=theta, fprime=gradient, args=(X, y))
result

(array([-7.49945140e+00,  8.73560227e-02, -3.96055740e+00, -8.33058411e-01,
         6.24470363e-02, -1.79456761e+01,  1.30944492e-02, -3.22333739e-03,
        -7.66831734e+00,  1.48248809e+00,  1.23404676e+00,  8.83081194e-01]),
 120,
 3)

In [50]:
def predict(theta, X):
    probability = sigmoid(X * theta.T)
    return [1 if x >= 0.5 else 0 for x in probability]

In [51]:
theta_min = np.matrix(result[0])
predictions = predict(theta_min, X)
correct = [1 if ((a == 1 and b == 1) or (a == 0 and b == 0)) else 0 for (a, b) in zip(predictions, y)]
accuracy = (sum(map(int, correct)) / len(correct))
print (accuracy)

0.8007349938750511

#### For normalized data

In [28]:
# add a ones column - this makes the matrix multiplication work out easier
#data.insert(0, 'Ones', 1)


# convert to numpy arrays and initalize the parameter array theta
X = np.array(data.values)
y = np.array(ydata.values)
theta = np.zeros(12)

In [29]:
X.shape

(4898, 12)

In [30]:
y.shape

(4898,)