In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn')

In [17]:
df = pd.read_csv(r"C:\Users\Suwani Gunasekara\OneDrive\Documents\Sem 7 ML\winequality-white_onezero.csv")

In [18]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,0

In [19]:
# add a ones column - this makes the matrix multiplication work out easier
df.insert(0, 'Ones', 1)
cols = df.shape[1]
Xdata = df.iloc[:,0:cols-1]
ydata = df.iloc[:,cols-1:cols]

In [20]:
cols

13

In [21]:
# convert to numpy arrays and initalize the parameter array theta
X = np.array(Xdata.values)
y = np.array(ydata.values)
theta = np.zeros(12)

In [22]:
X.shape

(4898, 12)

In [23]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [24]:
# This is the error function. We need to minimize this
def cost(theta, X, y):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    first = np.multiply(-y, np.log(sigmoid(X * theta.T)))
    second = np.multiply((1 - y), np.log(1 - sigmoid(X * theta.T)))
    return np.sum(first - second) / (len(X))

In [25]:
def gradient(theta, X, y):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    
    parameters = int(theta.ravel().shape[1])
    grad = np.zeros(parameters)
    
    error = sigmoid(X * theta.T) - y
    
    for i in range(parameters):
        term = np.multiply(error, X[:,i])
        grad[i] = np.sum(term) / len(X)
    
    return grad

In [26]:
gradient(theta, X, y)

array([2.83585137e-01, 1.97197325e+00, 8.16950796e-02, 9.65322581e-02,
       2.05703859e+00, 1.46277052e-02, 1.01768069e+01, 4.20753879e+01,
       2.82240985e-01, 8.98330951e-01, 1.36685382e-01, 2.78653668e+00])

In [ ]:
# this is the z score as well
data= (Xdata - Xdata.mean()) / Xdata.std()
data.describe()