In [1]:
#https://www.analyticsvidhya.com/blog/2020/10/predicting-the-scoreline-of-a-football-match-using-poisson-distribution/

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats

In [3]:
data = pd.read_csv(r"C:\Users\Suwani Gunasekara\OneDrive\Documents\Sem 7 ML\Mid term\results.csv")

In [4]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [7]:
data['total_goals'] = data['home_score'] + data['away_score']
data['date'] = data['date'].apply(lambda x: int(str.split(x,'-')[0]))
rec_data = data.loc[data['date'] >= 2000]
rec_data.iloc[[rec_data.total_goals.argmax()]]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals
23812,2001,Australia,American Samoa,31,0,FIFA World Cup qualification,Coffs Harbour,Australia,False,31

In [9]:
print(rec_data.total_goals.mean())

2.742481394637578

In [11]:
rec_data.shape

(19618, 10)