In [9]:
import pandas as pd
import numpy as np
from collections import Counter

In [51]:
df = pd.read_csv(r"C:\Users\Suwani Gunasekara\OneDrive\Documents\Sem 7 ML\Mid term\results.csv")

In [52]:
newdate = df["date"].str.split("-",n=1, expand = True) 
newdate.head()
# combing year values as a new column to df
df['Year'] = newdate[0].astype(int)

In [53]:
#df = df.loc[df.Year >= 2000]

In [54]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [55]:
# To get the name of the team won
def teamWon(df):
    if(df['home_score']>df['away_score']):
        return df.home_team
    elif(df['home_score']<df['away_score']):
        return df.away_team
    elif(df['home_score']==df['away_score']):
        return 0

In [56]:
# applying the teamWon function
df["TeamWon"] = df.apply(teamWon,axis = 1)

In [57]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year,TeamWon
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,Scotland

In [58]:
# Converting df column to list
listwon = df.TeamWon.values.tolist()

In [59]:
# Getting the number of wins of each team and converting it to a dictionary 
# https://stackoverflow.com/questions/11068986/how-to-convert-counter-object-to-dict
dictWon = dict(Counter(listwon))

In [60]:
# creating two new lists to put countries who got draws
homedraws = []
awaydraws = []

In [61]:
# appending to the list
for i in range(len(df.TeamWon)):
    if df.TeamWon[i] == 0:
        homedraws.append(df.home_team[i])
        awaydraws.append(df.away_team[i])

In [62]:
# Creating dictionaries 
homedrawsdict = dict(Counter(homedraws))
awaydrawsdict = dict(Counter(awaydraws))

In [63]:
#https://stackoverflow.com/questions/10461531/merge-and-sum-of-two-dictionaries
alldrawsdict = dict(Counter(homedrawsdict)+ Counter(awaydrawsdict))

In [64]:
# Number of home games played
homegamesdict = dict(Counter(df.home_team.values.tolist()))
# Number of away games played
awaygamesdict = dict(Counter(df.away_team.values.tolist()))
# Number of total games played
totalgamesdict = dict(Counter(homegamesdict)+Counter(awaygamesdict))

In [65]:
# Updating alldrawsdict to contain zero for countries which doesnt have draws
for k,v in totalgamesdict.items():
    if k not in alldrawsdict:
        alldrawsdict[k] = 0

In [66]:
# Updating dictWon to contain zero for countries which doesnt have wins
for k,v in totalgamesdict.items():
    if k not in dictWon:
        dictWon[k] = 0

In [67]:
# get the total number of games played
totalmatches = 0
for k,v in totalgamesdict.items():
    totalmatches += totalgamesdict[k]

In [68]:
# average games played by a team
averageGames = totalmatches/len(totalgamesdict)
print(averageGames)

269.7564102564103

In [69]:
wondict_ = {}
for k,v in totalgamesdict.items():
    if v >= averageGames:
        try:
            wondict_[k] = (dictWon[k]+0.5*alldrawsdict[k])/totalgamesdict[k]
        except KeyError:
            print(k)

In [70]:
sorted_wondict = sorted(wondict_.items(), key = lambda x:x[1], reverse = True)

In [26]:
sorted_wondict

[('Brazil', 0.7395939086294416),
 ('Spain', 0.6985815602836879),
 ('England', 0.6877450980392157),
 ('Germany', 0.6857440166493236),
 ('Iran', 0.6752988047808764),
 ('Italy', 0.6705665024630542),
 ('Argentina', 0.6615853658536586),
 ('Croatia', 0.6595744680851063),
 ('South Korea', 0.6543352601156069),
 ('Russia', 0.6418439716312057),
 ('Czech Republic', 0.6363636363636364),
 ('Ivory Coast', 0.6239015817223199),
 ('Mexico', 0.6211428571428571),
 ('Netherlands', 0.6206030150753769),
 ('Egypt', 0.6132075471698113),
 ('Morocco', 0.6103896103896104),
 ('Ghana', 0.609271523178808),
 ('Nigeria', 0.6077586206896551),
 ('Australia', 0.6054158607350096),
 ('France', 0.6051703877790834),
 ('Iraq', 0.605072463768116),
 ('Portugal', 0.6033653846153846),
 ('Sweden', 0.6004854368932039),
 ('Japan', 0.5963665086887836),
 ('China PR', 0.5947986577181208),
 ('Saudi Arabia', 0.5923566878980892),
 ('Ukraine', 0.5899280575539568),
 ('Zambia', 0.5899031811894883),
 ('Cameroon', 0.5882899628252788),
 ('Martinique', 0.5855263157894737),
 ('Scotland', 0.5816455696202532),
 ('German DR', 0.5805369127516778),
 ('Hungary', 0.5784729586426299),
 ('South Africa', 0.5767326732673267),
 ('Serbia', 0.5751748251748252),
 ('Senegal', 0.5733082706766918),
 ('Romania', 0.5674715909090909),
 ('Yugoslavia', 0.5654885654885655),
 ('Tunisia', 0.564957264957265),
 ('Algeria', 0.56286836935167),
 ('Czechoslovakia', 0.562374245472837),
 ('Uganda', 0.5599041533546326),
 ('Suriname', 0.5585714285714286),
 ('Denmark', 0.5583126550868487),
 ('North Korea', 0.5573529411764706),
 ('Poland', 0.5568319226118501),
 ('Uruguay', 0.5545556805399325),
 ('Kuwait', 0.5536971830985915),
 ('Zimbabwe', 0.55119825708061),
 ('Costa Rica', 0.5492610837438424),
 ('Belgium', 0.5442875481386393),
 ('Trinidad and Tobago', 0.5396706586826348),
 ('Honduras', 0.5385356454720617),
 ('United States', 0.5384057971014493),
 ('Uzbekistan', 0.5373665480427047),
 ('Qatar', 0.5333333333333333),
 ('Burma', 0.530791788856305),
 ('DR Congo', 0.528969957081545),
 ('Haiti', 0.5288888888888889),
 ('Mali', 0.5268924302788844),
 ('Austria', 0.52625),
 ('Colombia', 0.5252707581227437),
 ('Republic of Ireland', 0.5251736111111112),
 ('United Arab Emirates', 0.5247148288973384),
 ('Slovakia', 0.5216666666666666),
 ('Angola', 0.5197183098591549),
 ('Turkey', 0.509515570934256),
 ('Guinea', 0.5085287846481876),
 ('Jamaica', 0.5052910052910053),
 ('Kenya', 0.5038461538461538),
 ('Cura√ßao', 0.5014970059880239),
 ('Jordan', 0.50125),
 ('Malawi', 0.49735915492957744),
 ('Greece', 0.4965217391304348),
 ('Oman', 0.49557522123893805),
 ('Syria', 0.49387254901960786),
 ('New Zealand', 0.4930939226519337),
 ('Gabon', 0.4930939226519337),
 ('Bulgaria', 0.49266862170087977),
 ('Libya', 0.4896755162241888),
 ('Paraguay', 0.48819444444444443),
 ('Chile', 0.48759791122715407),
 ('Thailand', 0.486697965571205),
 ('Guatemala', 0.4810267857142857),
 ('Bahrain', 0.4807692307692308),
 ('Norway', 0.4797297297297297),
 ('Ethiopia', 0.47540983606557374),
 ('Malaysia', 0.473421926910299),
 ('Indonesia', 0.47106690777576854),
 ('Congo', 0.4708994708994709),
 ('Israel', 0.4691075514874142),
 ('Canada', 0.46866840731070497),
 ('Sudan', 0.4614427860696517),
 ('Burkina Faso', 0.4604591836734694),
 ('Switzerland', 0.4603960396039604),
 ('Cuba', 0.45870206489675514),
 ('India', 0.45689655172413796),
 ('Mozambique', 0.44625407166123776),
 ('El Salvador', 0.44345238095238093),
 ('Peru', 0.44258373205741625),
 ('Hong Kong', 0.4383033419023136),
 ('Togo', 0.4370179948586118),
 ('Panama', 0.435632183908046),
 ('Wales', 0.4295352323838081),
 ('Ecuador', 0.42263056092843326),
 ('Tanzania', 0.41869158878504675),
 ('Botswana', 0.41637010676156583),
 ('Lebanon', 0.4148550724637681),
 ('Iceland', 0.4037199124726477),
 ('Latvia', 0.40222772277227725),
 ('Singapore', 0.39928057553956836),
 ('Lithuania', 0.36904761904761907),
 ('Northern Ireland', 0.36850152905198774),
 ('Albania', 0.3669590643274854),
 ('Finland', 0.36243386243386244),
 ('Estonia', 0.35655737704918034),
 ('Venezuela', 0.35324675324675325),
 ('Bolivia', 0.3394396551724138),
 ('Cyprus', 0.2734584450402145),
 ('Malta', 0.21200980392156862),
 ('Luxembourg', 0.1549636803874092)]

In [33]:
dfRank = pd.DataFrame.from_dict(sorted_wondict)

In [35]:
dfRank.columns = ['Team','Percentage']

In [36]:
dfRank.head()

      Team  Percentage
0   Brazil    0.739594
1    Spain    0.698582
2  England    0.687745
3  Germany    0.685744
4     Iran    0.675299